body {
  background: darkcyan;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: rgb(57, 57, 136);
}
header {
  color: rgb(57, 57, 136);
  text-align: right;
  padding: 10px 20px;
  display: block;
  margin-right: 0;
  padding-left:0;
  padding-top: 75px;
}
h1 {
  text-align: right;
}
h2 {
  font-weight: 300;
  font-size: 18px;
  text-align: right;
  font-weight:bold;
}
h2:first-letter{
  text-transform: capitalize;
}
form {
  position: relative;
  color: plum;
}
h6 {
  font-size: 75px;
  text-align: center;
}
p {
  font-size: 30px;
  text-align: center;
}
footer {
  font-size: 14px;
  color: navy;
  padding-top: 15px;
  padding-left: 150px;
}
#search-bar {
  padding-top: 30px;
  width:725px;
  text-align: left;
}
#place-and-date {
  padding-right: 35px;
  width: 250px;
  text-align: right;
}
.day-and-time {
  font-size: 14px;
  font-style: italic;
  text-align: right;
}
.card {
  border-color: cornflowerblue;
  border-width: 6px;
  margin: 5px;
  text-align: center;
  width: 12rem;
}
#currentLocation {
  border-color: crimson;
  text-align: left;
}
#weather-symbol-data {
color: crimson;
}
.col-md-1 {
  padding-right: 0;
}
.col {
  padding:0;
}
@media screen and (max-width: 800px) {
  .card {
font-size: 7pt;
width: 4rem;
margin:0;
list-style: none;
}
.card p{
  font-size: 13px;
  list-style: none;
}
.card h6{
  font-size:9px;
  color: darkgray;
list-style-type: none;
}
.ul {
  list-style-type: none;
}
}
.card-title {
  font-size: 15px;
  padding-top: 20px;
  margin:0;
  list-style-type:none;
}
.card-title img{
  display:block;
}
.card-texts {
  color: aliceblue;
}